@inherits LayoutComponentBase

<PageTitle>InfinityChat</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            2023 - InfinityChat By <a href="https://teddy55.com">Teddy55</a>
        </div>
    </footer>
</div>