@inherits LayoutComponentBase

<PageTitle>InfinityChat</PageTitle>
<link rel="icon" href="data:,">
<div class="page">
    <div class="container">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
        <footer class="border-top footer text-muted fixed-bottom">
            <div class="container">
                2023 - InfinityChat By <a href="https://teddy55.com">Teddy55</a>
            </div>
        </footer>
    </div>
</div>